body {
    background-image: url('https://png.pngtree.com/58pic/32/69/41/84f58PICitRcMXwz4vDXf_PIC2018.jpg');
    background-size: 2560px 1440px;

}

input {
    outline-style: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px 0px;
    font-size: 15px;
    font-family: "Microsoft soft";
    width: 100px;
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

p {
    font-size: 20px;
}

.Jayhawk {
    margin: auto;
    text-align: center;
}

table.Table {
    width: 50%;
    border-collapse: collapse;
    font-family: "Time New roman", Arial, Helvetica, sans-serif;
}

table.Table td,
table.Table th {
    padding: 3px 7px 2px 7px;
    border: 2px solid #98bf21;
    font-size: 20px;
}

table.Table th {
    color: black;
    background-color: #FFFFCC;
    text-align: center;
}

table.Table td {
    color: black;
    background-color: #66CCFF;
    text-align: center;
}

h2 {
    text-align: center;
    font: bold 50px helvetica, arial, sans-serif;
    color: #fff;
    text-shadow: black 5px 5px 5px;
}